a {
    text-decoration: none;
}
.table-cell {
    border: 0;
    background-color: transparent;
}
.table-cell::placeholder {
    color: #212529;
}
.context-menu {
    position: absolute;
    display: none;
}
.centered-div {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 56px);
}
.files-window {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.file {
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    padding: 5px 10px;
}
.form-check-label {
    user-select: none;
}
