a {
    text-decoration: none;
}
.table-cell {
    border: 0;
    background-color: transparent;
}
.table-cell::placeholder {
    color: #212529;
}
.context-menu {
    position: absolute;
    display: none;
}
.centered-div {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 56px);
}
