<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Data-analysis-web-app</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Файл
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Открыть</a></li>
                            <li><a class="dropdown-item" href="#">Сохранить</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Экспортировать</a></li>
                            <li><a class="dropdown-item" href="#">Экспортировать как...</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Закрыть документ</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#loginModal" type="button" onclick="hideShow('registerForm', 'loginForm')">Авторизация</button>
                    <button class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#loginModal" type="button" onclick="hideShow('loginForm', 'registerForm')">Регистрация</button>
                </div>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="loginForm"">
                <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Авторизация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-3">
                            <label for="inputLogin">Логин</label>
                            <input type="text" class="form-control" id="inputLogin" aria-describedby="loginHelp" placeholder="Введите логин">
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
                        </div>
                        <span>Нет аккаунта? <a href="#" onclick="hideShow('loginForm', 'registerForm')">Регистрация</a></span>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                <button onclick="login()" type="button" class="btn btn-success">Авторизация</button>
                </div>
            </div>
            <div class="modal-content" id="registerForm"">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Регистрация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="inputRegisterLogin">Логин</label>
                            <input type="text" class="form-control" id="inputRegisterLogin" aria-describedby="loginHelp" placeholder="Введите логин" onchange="checkLogin(this.value);">
                            <div id="invalidLogin" class="invalid-feedback">
                                Такой логин уже существует.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputRegisterPassword">Пароль</label>
                            <input type="password" class="form-control" id="inputRegisterPassword" placeholder="Введите пароль" onchange="checkPassword();">
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputRepeatPassword">Повторите пароль</label>
                            <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Повторно введите пароль" onchange="checkPassword();">
                            <div id="invalidPassword" class="invalid-feedback">
                                Пароли не совпадают.
                            </div>
                        </div>
                        <span>Есть аккаунт? <a href="#" onclick="hideShow('registerForm', 'loginForm')">Войти</a></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                        <button onclick="addAccount()" type="button" class="btn btn-success">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="context-menu" class="dropdown-menu context-menu"></div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
