<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График</title>
</head>
<body onresize="generateGraph()" onload="generateGraph()">
    <div id="graphDiv"></div>
    <script src="{{ url_for('static', filename='cdn.plot.ly_plotly-2.24.1.min.js') }}"></script>
    <script>
        function generateGraph() {
            var graph = {{ graphJSON | safe }};
            console.log(graph);
            Plotly.newPlot("graphDiv", graph, {});
        }
    </script>
</body>
</html>
