{% extends 'base.html' %}

{% block title %} Таблица {% endblock %}

{% block content %}
{% if login == None %}
<div class="centered-div">
    <div>
        <h5 class="h5">Пожалуйста войдите в свой аккаунт или зарегистрируйтесь, чтобы продолжить работу</h5>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal" type="button" onclick="hideShow('registerForm', 'loginForm')">Авторизация</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal" type="button" onclick="hideShow('loginForm', 'registerForm')">Регистрация</button>
    </div>
</div>
{% endif %}
{% if login != None %}
<table class="table table-hover">
    <thead>
        <tr>
            {%for i in range(0, len)%}
                <th scope="col">{{data.columns[i]}}</th>
            {%endfor%}
        </tr>
    </thead>
    <tbody>
        {%for index, row in data.iterrows()%}
            <tr>
            {%for column, value in row.items()%}
                <td><input onchange="sendValue('{{index}}', '{{column}}', this.value)" oncontextmenu="cellContextMenu()" class="table_cell w-100" type="text" value="{{value}}"></td>
            {%endfor%}
            </tr>
        {%endfor%}
    </tbody>
</table>
{% endif %}
<script src="{{ url_for('static', filename='table.js') }}"></script>
{% endblock %}
